@charset "utf-8";
/* CSS Document */
h1{
	font-family: 'Quicksand', sans-serif;
	font-size: 40pt;
	font-weight: 700;
	font-style: oblique;
	color: #4d201d;
}
h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 40pt;
	font-weight: 700;
	font-style: oblique;
	color: #b2868d;
}
h3{
	font-family: 'Quicksand', sans-serif;
	font-size: 30pt;
	font-weight: 500;
	color: #4d201d;
}
h4{
	font-family: 'Quicksand', sans-serif;
	font-size: 30pt;
	font-weight: 500;
	color: #b2868d;
	
}
h5{
	font-family: 'Quicksand', sans-serif;
	font-size: 20pt;
	font-weight: 400;
	font-style: oblique;
	color: #4d201d;
	
}
h6{
	font-family: 'Quicksand', sans-serif;
	font-size: 20pt;
	font-weight: 400;
	font-style: oblique;
	color: #b2868d;
	
}
p{
	font-family: 'Quicksand', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	font-style: italic;
	color: #4d201d;
	padding-left: 30px;
}
a{
	color: #528881;
	font-style: oblique;
}
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* side navigation */
	.left ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #91725d;
	}
	.left li a {
		display: block;
		color: #000;
		padding: 8px 16px;
		font-family: 'Quicksand', sans-serif;
		text-decoration: none;
	}
	.left {
		float: left;
	}
	.indent {
		margin-left: 2em;
	}

/* top navigation */
	.topnav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #91725d;
	}
	.topnav li {
		float: left;
	}
	.topnav li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		font-family: 'Quicksand', sans-serif;
		text-decoration: none;
	}
	.topnav li a:hover {
		background-color: #528881;
	}
	.content {
		float: left;
		display: inline;
		padding-left: 1%;
		padding-right: 1%;
	}


/* This code came from http://www.responsivegridsystem.com/calculator/   */

	/*  SECTIONS  */
	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1%;
		background: #91725d;
		text-align: center;
		color: #FFFFFF;
	}
	.col:first-child { margin-left: 0; }

	/*  GROUPING  */
	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	/*  GRID OF SIX  */
	.span_6_of_6 {
		width: 100%;
	}

	.span_5_of_6 {
		width: 83.16%;
	}

	.span_4_of_6 {
		width: 66.33%;
	}

	.span_3_of_6 {
		width: 49.5%;
	}

	.span_2_of_6 {
		width: 32.66%;
	}

	.span_1_of_6 {
		width: 15.83%;
	}

	/*  GO FULL WIDTH BELOW 480 PIXELS */
	@media only screen and (max-width: 800px) {
		.col {  margin: 1% 0 1% 0%; }
		.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
	}
.button {
	background: rgb(160,190,186);
	background-image: linear-gradient(to bottom, rgb(160,190,186), rgb(82,136,129));
	border-radius: 12px;
	box-shadow: 2px 2px 4px rgb(45,75,71);
	font-family: 'Quicksand', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	font-style: italic;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 0;
}
.button:hover {
	background: rgb(192,211,209);
	background-image: linear-gradient(to bottom, rgb(192,211,209), rgb(160,190,186));
	text-decoration: none;
}		 
.button:focus {
	outline:0;
}

.code {
	border: 
}
      
/*table styles*/
     
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #4d201d;
}
tr:hover{
   background-color: rgb(192,211,209);
}

