@charset "utf-8";
/* CSS Document */
h1{
	font-family: 'Cormorant Garamond', serif;
	font-size: 40pt;
	font-weight: 700;
	font-style: oblique;
}
h2{
	font-family: 'Cormorant Garamond', serif;
	font-size: 40pt;
	font-weight: 700;
	font-style: oblique;
	color: #596906;
}
h3{
	font-family: 'Cormorant Garamond', serif;
	font-size: 30pt;
	font-weight: 600;
	
}
h4{
	font-family: 'Cormorant Garamond', serif;
	font-size: 30pt;
	font-weight: 600;
	color: #93A537
	
}
h5{
	font-family: 'Cormorant Garamond', serif;
	font-size: 20pt;
	font-weight: 500;
	font-style: oblique;
	color: #596906;
	
}
h6{
	font-family: 'Cormorant Garamond', serif;
	font-size: 20pt;
	font-weight: 400;
	font-style: oblique;
	color: #93A537;
	
}
p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 15pt;
	font-weight: 300;
	font-style: italic;
	color: #262D00;
	padding-left: 30px;
}
a{
	color: #596906;
	font-style: oblique;
}

/* new */
.forms{
	border: 1px solid #93A537;
	width: 50%;
	padding: 10px;
}

.img2{
    border: 1px solid #93A537;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.images img {width: 100%}
.images {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
    text-align: center;
    padding: 10px 20px;
}
/* end new */